@keyframes loaderCircle {
  0% {
    transform: rotate(90deg);
    box-shadow:
      0 6px 12px 0 #38bdf8 inset,
      0 12px 18px 0 #005dff inset,
      0 36px 36px 0 #1e40af inset,
      0 0 10px 2px rgba(56, 189, 248, 0.5),
      0 0 20px 4px rgba(0, 93, 255, 0.4);
  }

  50% {
    transform: rotate(270deg);
    box-shadow:
      0 6px 12px 0 #60a5fa inset,
      0 12px 6px 0 #0284c7 inset,
      0 24px 36px 0 #005dff inset,
      0 0 10px 2px rgba(56, 189, 248, 0.5),
      0 0 20px 4px rgba(0, 93, 255, 0.4);
  }

  100% {
    transform: rotate(450deg);
    box-shadow:
      0 6px 12px 0 #4dc8fd inset,
      0 12px 18px 0 #005dff inset,
      0 36px 36px 0 #1e40af inset,
      0 0 10px 2px rgba(56, 189, 248, 0.5),
      0 0 20px 4px rgba(0, 93, 255, 0.4);
  }
}

@keyframes loaderLetter {

  0%,
  100% {
    opacity: 0.8;
    transform: translateY(0);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }

  20% {
    opacity: 1;
    transform: scale(1.15);
    text-shadow: 0 0 15px rgba(255, 255, 255, 1);
  }

  40% {
    opacity: 0.9;
    transform: translateY(0);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
}

.animate-loaderCircle {
  animation: loaderCircle 5s linear infinite;
}

.animate-loaderLetter {
  animation: loaderLetter 3s infinite;
}